
h3{
  display: inline-block;
  position: absolute;
  top: 0;
  left: 23%;
  margin-top: 140px;
  color: white;
  font-size: 25px;
  
  font-weight: 900;
}
  .triangle {
    position: relative;
    margin: auto;
    margin-top: 20px;
    /* display: inline-block; */
    border-style: solid;
    height: 100px;
    width: 300px;
    border-width: 0 130px 100px 130px;
    border-color: transparent transparent rgb(97, 67, 97) transparent;
}
  .square {
    width: 464px;
    height: 256px;
    background: green;
    margin: auto;
    position: relative;
}
.s-inner {
  position: absolute;
  left: 35%;
  bottom: 0;
  width: 140px;
  height: 117px;
  background: rgb(134, 134, 125);
  margin: auto;
} 

.getR {
  width: 48%;
  height: 93px;
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  border-style: solid;
  border-width: 17px 62px 7px 0;
  border-color: transparent #a9bb44 transparent transparent;
  z-index: 1;

}

.getL {
  width: 40%;
  height: 92px;
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  border-style: solid;
  border-width: 17px 17px 8px 67px;
  border-color: transparent transparent transparent #a9bb44;
}
.lineR {
  position: absolute;
  /* left: 29px; */
  /* top: 10px; */
  display: inline-block;
  right: 11px;
  background: rgb(17, 240, 173);
  width: 67px;
  height: 2.09px;
  z-index: 2;
}
.lineL {
  position: absolute;
  left: 11px;
  /* top: 10px; */
  display: inline-block;
  /* right: 8px; */
  background: rgb(219, 103, 9);
  width: 62px;
  height: 2.09px;
  z-index: 2;
}



